
.ag-theme-quartz-dark .ag-cell:focus,
.ag-theme-quartz-dark .ag-cell.ag-cell-focus {
  outline: none !important;
  border: none !important;
}

/* index.css */
.ag-theme-quartz-dark {
  --ag-background-color: var(--backgrounds-bg-component, #27272A);
  --ag-odd-row-background-color: var(--backgrounds-bg-component, #27272A);
  --ag-header-background-color: var(--backgrounds-bg-component, #27272A);
}




.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.number-input[type="number"] { -moz-appearance: textfield; }

